<div class="container py-5">
    <section class="about-section">
        <h1 class="display-4 text-center mb-4">À propos de brique Echange</h1>
        <p class="lead">Bienvenue sur Exchange, la plateforme parfaite pour échanger des briques avec d’autres passionnés !
             Nous sommes convaincus que les briques LEGO ne sont pas simplement des jouets, mais un véritable moyen de rassembler les gens,
             d’encourager la créativité et de promouvoir l’apprentissage.</p>

        <h2 class="mt-5">Notre mission</h2>
        <p>Nous créons un environnement à la fois sécurisé et convivial, permettant aux utilisateurs d’échanger
             des briques en toute confiance. Notre objectif est de devenir la référence en matière d’échanges
              communautaires dans l’univers des briques..</p>

        <h2 class="mt-5">Nos valeurs</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Créativité :</strong> Nous encourageons l'imagination et l'innovation à
                travers l'échange de briques.</li>
            <li class="list-group-item"><strong>Communauté :</strong> Nous croyons au pouvoir de la collaboration et du
                partage entre passionnés.</li>
            <li class="list-group-item"><strong>Fiabilité :</strong> Notre priorité est de garantir une plateforme
                sécurisée et transparente.</li>
        </ul>

        <h2 class="mt-5">Notre équipe</h2>
        <p>Notre équipe regroupe des passionnés et des spécialistes techniques, tous animés par la volonté de développer 
            une plateforme qui surpasse les attentes de nos utilisateurs.</p>

        <h3 class="mt-5">Contact</h3>
        <p>Vous pouvez nous contacter pour toute question ou suggestion à l'adresse suivante : <a
                href="mailto:support@echange.com">support@legoexchange.com</a></p>
    </section>
</div>