<div class="container py-5">
    <section class="privacy-policy-section">
        <h1 class="display-4 text-center mb-4">Politique de Confidentialité</h1>
        <p>Nous accordons une grande importance à la protection de vos données personnelles. 
            Cette politique de confidentialité explique les informations que nous recueillons, 
            la manière dont nous les utilisons, ainsi que vos droits relatifs à vos données personnelles.</p>

        <h2 class="mt-5">1. Collecte des informations</h2>
        <p>Nous recueillons les informations suivantes lorsque vous vous inscrivez
             sur notre plateforme ou que vous interagissez avec nos services</p>
        <ul class="list-group">
            <li class="list-group-item">Informations personnelles : nom, prénom, email, etc.</li>
            <li class="list-group-item">Informations sur votre activité sur notre plateforme : échanges effectuées,
                briques proposées, etc.</li>
            <li class="list-group-item">Informations techniques : adresse IP, type de navigateur, cookies.</li>
        </ul>

        <h2 class="mt-5">2. Utilisation des données collectées</h2>
        <p>Les informations collectées peuvent être utilisées pour :</p>
        <ul class="list-group">
            <li class="list-group-item">Améliorer l'expérience utilisateur et le service proposé.</li>
            <li class="list-group-item">Communiquer avec vous concernant votre compte et les échanges en cours.</li>
            <li class="list-group-item">Analyser l'utilisation de notre plateforme pour optimiser ses fonctionnalités.
            </li>
        </ul>

        <h2 class="mt-5">3. Protection de vos données</h2>
        <p>Nous mettons en place des mesures de sécurité adéquates
             pour protéger vos données personnelles contre tout accès non autorisé, 
             ainsi que contre la divulgation, l’altération ou la destruction.

.</p>

        <h2 class="mt-5">4. Cookies</h2>
        <p>les cookies.</p>

        <h2 class="mt-5">5. Vos droits</h2>
        <p>Vous avez le droit d’accéder à vos données personnelles, de les rectifier, de les supprimer ou de limiter leur utilisation. 
            Pour toute demande concernant vos informations, 
            n’hésitez pas à nous contacter à l’adresse suivante :
            <a href="mailto:brique@exchange.com">brique@exchange.com</a>.
        </p>

        <h2 class="mt-5">6. Modifications de la politique</h2>
        <p>Nous nous réservons le droit de modifier cette politique de confidentialité de temps à autre. 
            Nous vous tiendrons informés de toute mise à jour en publiant une version révisée sur cette page..</p>
    </section>
</div>